# Node.js
/node_modules
dist
build
coverage
*.cache
*.tmp
*.bak
*.tgz
*.zip
*.tar.gz
*.log

# Environment variables
.env
*.env
*.env.local
*.env.development
*.env.test
*.env.production

# IDE and OS files
.vscode/*
!.vscode/settings.json
.idea
*.sublime-workspace
*.sublime-project
.DS_Store
*.DS_Store